@import url('../src/assets/fonts/fontiran.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color:#fff ;
}
.menuScroll::-webkit-scrollbar{
    width: 0;
    height: 0;
}
input[type="color"]::placeholder{
  color: black;
}
input[type="color"]::-webkit-color-swatch-wrapper {
   padding: 0;
}
input[type="color"]::-webkit-color-swatch {
   border: none;
}
.listboxDownload::-webkit-scrollbar{
  width: 5px;
  height: 0;
}

@layer components {
    .slidingNavbar{
      @apply bg-color-main-3 absolute top-[80px] right-0 w-full flex flex-col items-center lg:hidden h-[calc(100vh-80px)] py-5 transition-all duration-500 
    }
  }

  @layer components {
    .uncomplited{
      @apply flex w-full px-3 py-1.5 text-sm font-normal  text-gray-700  bg-white bg-clip-padding border border-solid border-red-500 rounded transition ease-in-out m-0  focus:text-gray-700 focus:bg-white ring-4 ring-red-100 focus:outline-none 
    }
  }

  @layer components {
    .forminput{
      @apply flex w-full px-3 py-1.5 text-sm font-normal  text-gray-700  bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0  focus:text-gray-700 focus:bg-white focus:border-color-main-1 focus:ring-4 focus:ring-color-light-main-1 focus:outline-none 
    }
  }